# Ignore dependencies
node_modules
/node_modules
.npm
/node_modules/

# Ignore build outputs
.next
/.next
out
build
dist
.next/

# Ignore local database and uploads
sqlite.db
*.db
public/uploads
/public/uploads
uploads.tar.gz
*.tar.gz
*.log

# Ignore Git and metadata
.git
.github
.gitignore
.claude
Yeni klasör

# Ignore text logs and unused source data
*.txt
*.md
*.sql
migration_data.xml
drizzle

# Ignore local env files
.env.local
.env.development.local
.env.test.local
.env.production.local
